@media screen and (max-device-width: 1200px)
  body
    .background
      .container
        height: 1200px
        .ippodrom
          top: 60px
        .container-for-two
          display: block
          .hourses
            width: 100%
            background-position: center
          .radio-montecarlo-block
            margin: 20px auto
  footer
    .container-footer
      .footer-links-block
        flex-wrap: wrap;
        margin-bottom: 35px
        padding: 0 20px
        justify-content: space-around
        a
          margin: 8px 8px
      .social-footer-block
        padding-top: 0
    a.apptimizm
      float: none
      display: flex
      margin-right: 0
      margin-top: 30px
      justify-content: center
    p.center
      width: 80%
      display: flex
      margin: 0 auto
      margin-bottom: 40px
      justify-content: center
@media screen and (max-device-width: 768px)
  body
    .background
      .container
        height: 1300px
        .social-links-block
          padding-top: 20px
        .ippodrom
          top: 150px
          height: inherit
        .jump-title
          margin-top: 170px
          img
            width: 80%
        p.grand-prix
          margin-top: 50px
          margin-left: 0
          transform: rotate(-90deg)
        .social-event
          margin: 15px auto
          img
            width: 70%
        .container-for-two
          display: block
          .hourses
            width: 100%
            opacity: .99
            margin-top: 35px
            background-size: contain
          .radio-montecarlo-block
            .logo-radio
              top: 60px
              left: 0
              right: 0
              position: absolute
            .text
              max-width: 90%
              margin: 0 auto
              margin-bottom: 40px
              white-space: normal
            .links-group
              display: flex
              justify-content: center
              a.photoarchive
                margin-left: 0
                margin-right: 25px
                padding: 22px 10px 22px 10px
                &:after
                  display: none
              a.pre-order
                margin-left: -5px
                padding: 22px 10px 22px 10px
