p
  margin: 0
a
  cursor: pointer
body
  margin: 0
  height: 100%
  .background
    background: linear-gradient(#94c2e4, #cee6f0, #f3f7f8, #f1ebd3, #f3ecd2 )
    background-repeat: no-repeat
    .container
      flex: 1 0 auto;
      margin: 0 auto
      height: 1000px
      max-width: 1200px
      .ippodrom
        top: 15px
        width: 100%
        height: 524px
        max-height: 600px
        position: absolute
        background: url(../img/ippodrom.png)
        background-repeat: no-repeat
      p.grand-prix
        margin-top: 38px
        font-size: 14px
        margin-left: 100px
        font-family: Times
        position: absolute
        line-height: normal
        text-transform: uppercase
        color: #605F5F
      .social-links-block
        width: 195px
        display: flex
        margin: 0 auto
        padding-top: 34px
        justify-content: space-between
        a.vk
          width: 27px
          height: 27px
          background: url('../img/vk.png')
        a.facebook
          width: 27px
          height: 27px
          background: url('../img/facebook.png')
        a.instagram
          width: 27px
          height: 27px
          background: url('../img/instagram.png')
        a.og
          width: 27px
          height: 27px
          background: url('../img/og.png')
      .jump-title
        margin: 0 auto
        margin-top: 28px
        text-align: center
      p.grand-prix-title
        font-size: 36px
        color: #333333
        margin-top: 11px
        font-family: Times
        text-align: center
        line-height: normal
        text-transform: uppercase
      .social-event
        margin-top: 18px
        text-align: center
      .container-for-two
        display: flex
        .hourses
          width: 61%
          height: 417px
          z-index: 1
          background: url('../img/hourses.png')
          background-repeat: no-repeat
        .radio-montecarlo-block
          text-align: center
          margin: 0 auto
          .logo-radio
            text-align: center
            .crown
              margin-bottom: 10px
            .title
              margin-bottom: 20px
          .text
            margin-bottom: 40px
            p.place
              margin-bottom: 25px
              font-family: Times
              font-size: 19px
              line-height: normal
              letter-spacing: 0.0814286px
              color: #464646
            p.date
              font-family: Times
              font-size: 33px
              line-height: normal
              text-transform: uppercase
              color: #464646
          .links-group
            a.photoarchive
              color: #A17E44
              font-size: 18px
              display: inline-block
              background: #fff
              padding: 19px 53px
              padding-left: 60px
              z-index: 3
              position: relative
              margin-top: 10px
              font-weight: 100
              -webkit-box-shadow: 5px 5px 0px 1px rgba(196,162,104,0.22)
              box-shadow: 5px 5px 0px 1px rgba(196,162,104,0.22)
              position: relative
              padding: 22px 25px 22px 70px
              margin-left: 10px
              margin-right: 15px
              &:hover
                background-color: #cba46b
                color: #fff
                &:after
                  filter: brightness(0) invert(100%)
              &:after
                content: ""
                position: absolute
                width: 31px
                height: 27px
                background: url(../img/camera.svg) center center
                top: 18px
                left: 24px
            a.pre-order
              color: #a17e44
              font-size: 18px
              display: inline-block
              background: #fff
              padding: 19px 53px
              padding-left: 60px
              z-index: 3
              position: relative
              margin-top: 10px
              font-weight: 100
              -webkit-box-shadow: 5px 5px 0px 1px rgba(196,162,104,0.22)
              box-shadow: 5px 5px 0px 1px rgba(196,162,104,0.22)
              position: relative
              padding: 22px 35px 22px 35px
              margin-left: 10px
              &:hover
                background-color: #cba46b
                color: #fff
    .line-gradient
        background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%)
        width: 100%
        height: 130px
        margin-top: -110px
footer
  .container-footer
    margin: 0 auto
    max-width: 1200px
    .footer-links-block
      display: flex
      align-items: center
      margin-bottom: 70px
      justify-content: space-between
    .social-footer-block
      width: 195px
      display: flex
      margin: 0 auto
      padding-top: 34px
      justify-content: space-between
      a.vk
        width: 23px
        height: 23px
        background: url('../img/vk-fut.png')
      a.facebook
        width: 23px
        height: 23px
        background: url('../img/facebook-fut.png')
      a.instagram
        width: 23px
        height: 23px
        background: url('../img/instagram-fut.png')
      a.og
        width: 23px
        height: 23px
        background: url('../img/og-fut.png')
  a.apptimizm
    float: right
    right: 0
    top: 15px
    z-index: 2
    margin-right: 50px
  p.center
    opacity: 0.4
    color: #464646
    font-size: 10px
    text-align: center
    font-family: Times
    margin-left: 115px
    line-height: normal
    margin-bottom: 60px
    letter-spacing: 0.0814286px

@import './mobile.styl'
