doctype html  
html
  head
    title  Скачки Radio Monte Carlo - Светское событие года
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="./dist/css/style.css")
    link(rel="icon" href="./dist/img/favicon.ico" type="image/x-icon")
    header
  body
    .background
      .container
        .ippodrom
        p.grand-prix гран при*
        .social-links-block
          a(target="_blank" href="https://vk.com/radiomontecarlo").vk
          a(target="_blank" href="https://www.facebook.com/RadioMonteCarlo102.1/").facebook
          a(target="_blank" href="https://www.instagram.com/radiomontecarlo/").instagram
          a(target="_blank" href="https://ok.ru/group/montecarlo").og
        .jump-title
          img(src="./dist/img/jumps.png")
        p.grand-prix-title grand prix*
        .social-event
          img(src="./dist/img/social-event.png")
        .container-for-two
          .hourses
          .radio-montecarlo-block
            .logo-radio
              .crown
                a(target="_blank" href="http://montecarlo.ru")
                  img(src="./dist/img/crown.png")
              .title 
                img(src="./dist/img/title.png")
            .text
              p.place Центральный московский ипподром (ул. Беговая, 22)
              p.date 15 июня 2019
            .links-group
              a.photoarchive Фотоархив 2018
              a.pre-order Предзаказ билетов
      .line-gradient
    footer
      .container-footer
        .footer-links-block
          a(target="_blank" href="http://www.russianmediagroup.com/index.html").rmg
            img(src="./dist/img/rmg.png")
          a(target="_blank" href="https://rusradio.ru/").rr
            img(src="./dist/img/rr.png")
          a(target="_blank" href="http://ru.tv/").rutv
            img(src="./dist/img/rutv.png")
          a(target="_blank" href="https://dfm.ru/").dfm
            img(src="./dist/img/dfm.png")
          a(target="_blank" href="http://hitfm.ru/").hit
            img(src="./dist/img/hit.png")
          a(target="_blank" href="http://station.ru/").st
            img(src="./dist/img/st.png")
          a(target="_blank" href="http://maximum.ru/").max
            img(src="./dist/img/max.png")
        .social-footer-block
          a(target="_blank" href="https://vk.com/radiomontecarlo").vk
          a(target="_blank" href="https://www.facebook.com/RadioMonteCarlo102.1/").facebook
          a(target="_blank" href="https://www.instagram.com/radiomontecarlo/").instagram
          a(target="_blank" href="https://ok.ru/group/montecarlo").og
        a(target="_blank" href="https://apptimizm.pro/").apptimizm
          img(src="./dist/img/apptimizm.png")
        br
        p.center ЗАО «Радиостанция «Евразия-Классика», ОГРН 1027739885227, 123100, г. Москва, Краснопресненская наб., д,6»
            		
      script(src="./dist/js/jQuery.js")
      script(src="./dist/js/script.js")
